@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Poppins";
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

a {
  color: #b1b4bd;
  font-weight: 5000;
}

a:hover {
  color: rgb(0, 255, 128);
}

.sticky-nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  padding: 20px;
  z-index: 1;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  background-color: rgba(24, 21, 71, 0.75);
}

.navbar .navbar-brand a {
  padding: 1 rem 0;
  display: block;
  text-decoration: none;
  font-size: 2.2rem;
  color: white;
}

.navbar-brand {
  font-size: 2.2rem;
  color: white;
}

.navbar-toggler {
  border: none;
  padding: 10px 6px;
  outline: none;
}

.navbar-toggler:focused {
}

.navbar-toggler span {
  display: block;
  width: 25px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #fff;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
  opacity: 1;
}

.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1.4rem 1rem;
  font-size: 1.2rem;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
  color: rgb(0, 255, 128);
}

.dropdown-menu {
  background-color: rgb(0, 255, 128);
}

.dropdown-item {
  color: rgb(12, 32, 59);
}

.btn {
  color: white;
  background-color: #c700ac;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}

.btn:hover {
  color: rgb(94, 94, 94);
  background-color: rgb(0, 255, 128);
}

.heading {
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 80px;
  margin-bottom: 80px;
  min-height: 80px;
}

.column-left {
  min-height: 200px;
}

.column-right {
  min-height: 200px;
}

.section-title {
  margin-top: 80px;
  padding: 5rem 2rem 0rem 5rem;
  font-size: 2.8rem;
  color: #000000;
  font-weight: 500;
}

.paragraph {
  margin-top: 15;
  padding: 1rem 5rem 1rem 5rem;
  font-size: 1.1rem;
  color: #000000;
  font-weight: 500;
}

/*
Breakpoint Guide
xs devices (portrait view on phones, less than 576px)
No media query since this is the default in Bootstrap

sm devices (landscape view on phones, 576px and up)
@media (min-width: 576px) {...}

md devices (tablets, 768px and up)
@media (min-width: 768px) {...}

lg devices (desktops, 992px and up)
@media (min-width: 992px) {...}

xl devices (large desktops, 1200px and up)
@media (min-width: 1200px) {...}
*/
